.item img{
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 5px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}